apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app_name }}-domains-cm
  namespace: {{ .Values.namespace }}
data:
  domains.yml: |
{{- if .Values.argocd }}
{{- if .Values.argocd.domains }}
{{ .Values.argocd.domains | toYaml | indent 4 }}
{{- else }}
{{ .Values.CONFIG.domains | toYaml | indent 4 }}
{{- end }}
{{- else }}
{{ .Values.CONFIG.domains | toYaml | indent 4 }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app_name }}-geo-layers-cm
  namespace: {{ .Values.namespace }}
data:
  geo_layers.yml: |
{{- if .Values.argocd }}
{{- if .Values.argocd.geo_layers }}
{{ .Values.argocd.geo_layers | toYaml | indent 4 }}
{{- else }}
{{ .Values.CONFIG.geo_layers | toYaml | indent 4 }}
{{- end }}
{{- else }}
{{ .Values.CONFIG.geo_layers | toYaml | indent 4 }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app_name }}-restricted-robots-cm
  namespace: {{ .Values.namespace }}
data:
  restricted_robots.yml: |
{{- if .Values.argocd }}
{{- if .Values.argocd.restricted_robots }}
{{ .Values.argocd.restricted_robots | toYaml | indent 4 }}
{{- else }}
{{ .Values.CONFIG.restricted_robots | toYaml | indent 4 }}
{{- end }}
{{- else }}
{{ .Values.CONFIG.restricted_robots | toYaml | indent 4 }}
{{- end }}
